@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 20 184 166; /*214, 219, 220;*/
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}
html {
  background: black;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: white;
}

select,
input:not(:disabled) {
  background: transparent;
  border: 1px solid;
  width: 100%;
  border-radius: 8px;
  height: 46px;
  font-size: .875rem;
}
select {
  padding: .25rem .5rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-main {
  background: rgba(15, 118, 110, 0.514);
  background: linear-gradient(
      200deg,
      rgba(15, 118, 110, 0.514) 0%,
      rgba(13, 148, 136, 0.506) 35%,
      rgba(99, 102, 241, 0.522) 100%
    ) left top no-repeat,
    linear-gradient(
      330deg,
      rgba(15, 118, 110, 0.514)0%,
      rgba(13, 148, 136, 0.506) 35%,
      rgba(99, 102, 241, 0.522)  100%
    ) left 100vh no-repeat;
  /* background-position: 0 0, 100% 100vh; */
  background-size: auto 100vh, auto 100vh;
}
[class*=ag-theme-].ag-theme-custom {
  --ag-background-color: transparent;
  /* --ag-border-color: rgba(255, 255, 255, .5); */
  --ag-border-color: rgb(243 244 246 / .1);
  --ag-font-color: white;
  --ag-header-cell-hover-background-color: transparent;
}
.ag-theme-custom .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  border: none;
}
.ag-theme-custom .ag-root-wrapper {
  background-color: transparent;
  border: 1px solid white;
  border-radius: .375rem;
}
.ag-theme-custom .ag-header-viewport {
  background: var(--ag-border-color);
  border-bottom: 1px solid white;
}
.ag-theme-custom .ag-header-cell {
  /* background-color: rgb(243 244 246 / .1); */
  color: white; 
  /* background: var(--ag-border-color); */
  
  font-weight: 500;
  /* color: #104a46; */
}

.ag-theme-custom .ag-cell {
  background-color: transparent !important;
  color: white;
  border: none;
  height: 50px;
  display: flex;
  align-items: center;
}

.ag-theme-custom .ag-row {
  background-color: transparent;
  /* border-bottom: 1px solid white; */
}

.ag-theme-custom .ag-row:hover {
}